.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: 400;
  box-shadow: var(--shadow-xl);

  &.info {
    color: var(--ti-main);
    background: var(--bg-main);
  }

  &.error {
    color: #FF4443;
    color: var(--static-white);
    background: #F9EEEA;
    border: 2px solid #FF4443;
  }

  &.size-s {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &.size-m {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
}