@import "mixins";

:host {
  display: block;
}

.title {
  margin-bottom: 8px;
  @include font(20px, 24px, 700, rgba(0, 0, 0, 0.75));
}

.version {
  margin-bottom: 8px;
  @include font(16px, 19px, 400, #2c2c2e);
}
