<div class="connection" (click)="switch(state)">
    <div class="loading" *ngIf="loading">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(241, 242, 243); display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <g transform="rotate(0 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="-0.44004400440044006s" repeatCount="indefinite"/>
              </rect>
            </g><g transform="rotate(40 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="-0.38503850385038507s" repeatCount="indefinite"/>
              </rect>
            </g><g transform="rotate(80 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="-0.33003300330033003s" repeatCount="indefinite"/>
              </rect>
            </g><g transform="rotate(120 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="-0.27502750275027504s" repeatCount="indefinite"/>
              </rect>
            </g><g transform="rotate(160 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="-0.22002200220022003s" repeatCount="indefinite"/>
              </rect>
            </g><g transform="rotate(200 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="-0.16501650165016502s" repeatCount="indefinite"/>
              </rect>
            </g><g transform="rotate(240 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="-0.11001100110011001s" repeatCount="indefinite"/>
              </rect>
            </g><g transform="rotate(280 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="-0.05500550055005501s" repeatCount="indefinite"/>
              </rect>
            </g><g transform="rotate(320 50 50)">
              <rect x="48" y="28.5" rx="1.6500000000000001" ry="1.6500000000000001" width="4" height="11" fill="#b9b9b9">
                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.49504950495049505s" begin="0s" repeatCount="indefinite"/>
              </rect>
            </g>
        </svg>
    </div>
    <div class="cap">
        CONNECTION
    </div>
    <div class="switch">
        <div class="toggle" [ngClass]="state">
            <div class="circle"></div>
        </div>
        <div class="letters">
            <div class="f" [ngClass]="state">
                <svg xmlns="http://www.w3.org/2000/svg" width="47" height="32" viewBox="0 0 47 32" fill="none">
                    <g clip-path="url(#clip0_1411_10548)">
                    <path d="M0 31.7065H8.06396V19.8853H20.3467V13.7109H8.06396V6.48193H21.5771V0H0V31.7065Z" fill="#F2F1EF"/>
                    <path d="M25.1367 31.7065H33.2007V19.8853H45.4834V13.7109H33.2007V6.48193H46.7139V0H25.1367V31.7065Z" fill="#F2F1EF"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1411_10548">
                    <rect width="47" height="32" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="n" [ngClass]="state">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="32" viewBox="0 0 28 32" fill="none">
                    <g clip-path="url(#clip0_1411_10522)">
                    <path d="M0 31.7065H8.04199V13.2056H8.1958L20.9399 31.7065H27.7075V0H19.6655V18.3032H19.5117L6.8335 0H0V31.7065Z" fill="#E7FE54"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1411_10522">
                    <rect width="28" height="32" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>